@model IEnumerable<AnimalAdvisor.Models.Animal>

@{
    ViewData["Title"] = "Animals";
}
<h1>Animals</h1>
<div class="row gx-xl-6 h-100 d-lg-flex card-group">
    @foreach(var item in Model)
    {
    <div class="col-sm-4 mb-5 d-inline-block">
        <div class="card bg-light border-0  ">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                <h2 id="animalId" class="fs-4 fw-bold">@(item.AnimalName)</h2>
                <img class="card-img-top" style="height:20rem" src="@item.AnimalPhoto" alt="Alternate Text" />                
                
            </div>
        </div>
    </div>
    }
</div>